#knowledge-base-filter
  margin 1em auto
  max-width 60em
  margin-top -50px
  position relative
  padding 0 1em

  div.pagination-controls
    display flex
    flex-direction row
    justify-content space-between
    margin-top 1em

  .main-search
    margin-bottom 1em

  div.model-extraction
    border-top 2px solid #ccc
    padding-top 1em
    margin 1em 0 2em
    display flex
    flex-direction column
    h2
      font-size 14px
    div.extracted-entity>.main
      &>div.kb-image-container
        flex 2
        img
          max-height 20em
      &>*
        flex 1
      div.text
        margin-left 1em
        font-size 10px
        max-width 40%
        overflow hidden
      display flex
      flex-direction row
      span.entity-type
        font-weight 400
        color #888
        font-style italic
    &>div
      flex 1
      position relative
      img
        max-width 100%

a.link-card
  text-decoration none
  margin 1.5em 0 1.5em

div.gdd-article
  padding 0.6em 1em
  &:hover
    color inherit
    text-decoration none
  .title
    font-style italic
  .journal, .volume
    font-weight bold
  .doi-title
    text-transform uppercase
    font-size 0.8em
    font-weight bold
    color #444
