*
  box-sizing border-box

body
  margin 0

.image-container
  margin 1em
  outline 0.5em solid #eee
  position relative
  div.overlay
    top 0
    left 0
    position absolute

div.drag-rect
  position absolute
  cursor move
  div.handles
    div
      background rgba(50,50,50,0.2)
      position absolute
    .left, .right
      cursor: ew-resize
    .top, .bottom
      cursor: ns-resize

