*
  box-sizing border-box

body
  margin 0
  padding-top 50px
  overflow scroll
  height 100vh

html
  overflow: hidden

.subtitle
  color: #888

.instructions
  font-style italic
  font-size 0.9em
  padding-top: 0.25em

.login-form
  width 30em
  margin 2em auto
  span.user-select
    span
      display block
      display block
    .bp3-button-text
      flex-grow 1

.bp3-navbar
  background-color: #eee


.main-toaster
  z-index 100
  .error-toast
    position relative
    h4
      margin-top 0
    pre
      background-color #ffeeee
      border 1px solid #ffaaaa
      color #880000
      padding 10px
      border-radius 3px
      max-height 400px
      overflow scroll
      max-width 100%

.image-container
  margin 1em auto
  outline 0.5em solid #ccc
  position relative
  div.overlay
    top 0
    left 0
    position absolute

.bp3-navbar
  display flex
  &>div:first-child
    flex 1
  .bp3-navbar-group.bp3-align-right
    &>*
      margin-left 0.5em

div.rect
  position absolute
  border 2px solid black
  cursor pointer
  &.draggable
    cursor move
  div.handles
    div
      background rgba(0,0,0,0)
      &:hover
        background rgba(0,0,0,0.5)
      position absolute
    .left, .right
      cursor: ew-resize
    .top, .bottom
      cursor: ns-resize
    .top.right, .left.bottom
      cursor: nesw-resize
    .top.left, .right.bottom
      cursor: nwse-resize
  div.tag-name
    position absolute
    font-weight 600
    top -16px
    font-size 12px
  div.rect-controls
    z-index 10
    position absolute
    background-color #eee
    border 1px solid #ccc
    border-radius 5px
    min-width: 100px
    &.top
      top -20px
    &.bottom
      bottom -36px
    &>*
      margin 3px

svg.annotation-links
  position absolute
  top 0
  left 0
  pointer-events none
