*
  box-sizing border-box

body
  margin 0

.image-container
  margin 1em
  outline 0.5em solid #eee
  position relative
  div.overlay
    top 0
    left 0
    position absolute

div.rect
  position absolute
  border 2px solid black
  &.draggable
    cursor move
  div.handles
    div
      background rgba(0,0,0,0)
      &:hover
        background rgba(0,0,0,0.5)
      position absolute
    .left, .right
      cursor: ew-resize
    .top, .bottom
      cursor: ns-resize
    .top.right, .left.bottom
      cursor: nesw-resize
    .top.left, .right.bottom
      cursor: nwse-resize
  div.rect-controls
    position absolute
    bottom -50px

